* {
  list-style: none;
}
.path {
  background-color: blue;
}
body {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: gainsboro;
}

#DIV_WRAPPER {
  margin-top: 20px;
  display: grid;
  background-color: white;
  width: 500px;
  height: 500px;
}

.navbar {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

/*CSS for the dropdown menu - start*/
.dropdown {
  box-sizing: border-box;
  min-width: 6em;
  position: relative;
  margin: 2em;
}
.dropdown1 {
  box-sizing: border-box;
  min-width: 6em;
  position: relative;
  margin: 2em;
}

.select {
  background: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
}

.select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #2a2d35;
}

.active {
  background: #23242a;
}

.menu-open {
  display: block;
  opacity: 1;
}
/*end*/